{% extends 'base.html' %}
{% block content %}

<ul class="dropdwn">
        <li><u><a href="{% url 'YukaSite:admin_page' %}">料理テーマ・教室管理</a></u>
            <ul class="dropdwn_menu">
                <li><a href="{% url 'YukaSite:schedule_create' %}">テーマ　登録</a></li>
                <li><a href="{% url 'YukaSite:schedule_all' %}">テーマ　一覧</a></li>
                <li><a href="{% url 'YukaSite:lesson_create' %}">日程　　登録</a></li>
                <li><a href="{% url 'YukaSite:recipe_upload' %}">レシピ　登録</a></li>
            </ul>
        </li>
        <li><u><a href="{% url 'YukaSite:news_all_admin' %}">お知らせ</a></u>
            <ul class="dropdwn_menu">
                <li><a href="{% url 'YukaSite:news_create' %}">お知らせ　登録</a></li>
                <li><a href="{% url 'YukaSite:news_all_admin' %}">お知らせ　一覧</a></li>
            </ul>
        </li>
        <li><u><a href="{% url 'YukaSite:user_all' %}">ユーザー情報</a></u>
            <ul class="dropdwn_menu">
                <li><a href="{% url 'YukaSite:user_all' %}">ユーザー　一覧</a></li>
            </ul>
        </li>
</ul>
<script type="text/javascript">
$(function(){
    $('.dropdwn li').hover(function(){
        $("ul:not(:animated)", this).slideDown();
    }, function(){
        $("ul.dropdwn_menu",this).slideUp();
    });
});
</script>
<div class="disp-area">
  <div id="smallArea">
    <span>料理テーマ・教室管理</span>
  </div>
  <div class="status_admin">
    <div class="schedule">
      <h1 id="msg">今月の料理テーマ</h1>
      <div class="status_contents">
        {% if data.picture1 and data.picture2 and data.picture3 %}
          <h2>{{data.holdmonth}}</h2>
          <h2>「{{data.theme}}」</h2>
        {% else %}
          <h2>{{data.holdmonth}}</h2>
          <h2>「{{data.theme}}」</h2>
          <a href="{% url 'YukaSite:schedule_edit' schedule_id=data.id %}"><u id='zero'><h3>写真を登録してください</h3></u></a>
        {% endif %}
        <a href="{% url 'YukaSite:schedule_create' %}" class="new_btn">料理テーマの新規登録</a><br>
        <!--<a href="{% url 'YukaSite:schedule_select' %}">料理テーマの選択</a>-->
        <h3>教室の変更</h3>
        <form method="post">
          {% csrf_token %}
          {{form}}<br />
          <button type="submit" class="new_btn">変更</button>
        </form>
      </div>
    </div>
    <div class="lessons">
      <h1 id="msg">今月の教室一覧</h1>
      <div class="status_contents">
        {% if lessons %}
        <table id="admin_table">
            <thead><tr>
                <th>教室日程</th>
                <th>参加人数</th>
                <th></th><th></th>
            </tr></thead>
            {% for lesson in lessons %}
            <tbody><tr>
                <td><a href="{% url 'YukaSite:lesson_detail' lesson_id=lesson.id %}">{{ lesson.date }}</a></td>
                {% if lesson.members.all|length == 0 %}
                  <td id='zero'> {{lesson.members.all|length}}人</td>
                {% else %}
                  <td> {{lesson.members.all|length}}人</td>
                {% endif %}

                <td><a class='edit_btn' href="{% url 'YukaSite:lesson_edit' lesson_id=lesson.id %}">Edit</a></td>
                <td><a class='dlt_btn' href="{% url 'YukaSite:lesson_delete' lesson_id=lesson.id %}">Delete</a></td>
            </tr></tbody>
            {% endfor %}
        </table><br>
        <a href="{% url 'YukaSite:lesson_create' %}" class="new_btn">教室日程の新規登録</a>
        {% else %}
          <a href="{% url 'YukaSite:lesson_create' %}"><u id='zero'><h3>教室を登録してください</h3></u></a>
        {% endif %}
      </div>
    </div>
    <div class="recipes">
      <h1 id="msg">レシピ</h1>
      <div class="status_contents">
        {% if recipes %}
          {% for recipe in recipes %}
            <h2>{{recipe.holdmonth}}</h2>
            <a href="{{ recipe.document.url }}">{{ recipe.description }}</a>
            <p>{{recipe.uploaded_at}}</p>
          {% endfor %}
        {% else %}
            <a href="{% url 'YukaSite:recipe_upload' %}"><u id='zero'><h3>レシピを登録してください</h3></u></a>
        {% endif %}
        <a href="{% url 'YukaSite:recipe_upload' %}" class="new_btn">レシピ　新規投稿</a>
        <a href="{% url 'YukaSite:recipe_all_admin' %}" class="new_btn">レシピ　一覧</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
