{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'YukaSite/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <title>YukaLabo 527（京都・料理教室）</title>
  </head>
  <body>
    <div class="title">
      <h1 id="title-logo">YukaLabo 527</h1>
        {% if user.is_superuser %}
        <a class="btn" href="{% url 'YukaSite:admin_page' %}">管理ページ</a>
        {% endif %}
        <a class="btn" href="{% url 'YukaSite:index' %}">トップページ &#9661;</a>
        <a class="btn" href="{% url 'YukaSite:mypage' %}">マイページ &#9661;</a>
        <a class="btn" href="{% url 'YukaSite:recipe_all' %}">レシピ一覧 &#9661;</a>
        <a class="btn" href="{% url 'YukaSite:post_all' %}">タイムライン &#9661;</a>
        <a class="btn" href=#>お知らせ &#9661;</a>
        <a class="btn" href="https://yukalabo527.hatenablog.com/">ホームページはこちら &#9661;</a>
    </div>


    <ul class="dropdwn">
        <li><u><a href="{% url 'YukaSite:admin_page' %}">料理テーマ・教室管理</a></u>
            <ul class="dropdwn_menu">
                <li><a href="{% url 'YukaSite:schedule_create' %}">テーマ　登録</a></li>
                <li><a href="{% url 'YukaSite:schedule_select' %}">テーマ　選択</a></li>
                <li><a href="{% url 'YukaSite:schedule_all' %}">テーマ　一覧・編集</a></li>
                <li><a href="{% url 'YukaSite:lesson_create' %}">日程　登録</a></li>
                <li><a href="{% url 'YukaSite:recipe_upload' %}">レシピ　登録</a></li>
            </ul>
        </li>
        <li><u>お知らせ</u>
            <ul class="dropdwn_menu">
                <li><a href="#">お知らせ　登録</a></li>
                <li><a href="#">お知らせ　一覧</a></li>
            </ul>
        </li>
        <li><u>ユーザー情報</u>
            <ul class="dropdwn_menu">
                <li><a href="#">ユーザー　一覧</a></li>
            </ul>
        </li>
    </ul>
    <script type="text/javascript">
      $(function(){
        $('.dropdwn li').hover(function(){
        $("ul:not(:animated)", this).slideDown();
        }, function(){
        $("ul.dropdwn_menu",this).slideUp();
        });
      });
    </script>
    <div class="disp-area">
      <div id="smallArea">
        <span>料理テーマ・教室管理</span>
      </div>
      <div class="status">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <div class = "footer">
      <div class="footer-logo">YukaLabo 527</div>
      <div class="footer-list"><p>&copy; 2020 YukaLabo 527</p></div>
    </div>
  </body>
</html>
