{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'YukaSite/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <title>YukaLabo 527（京都・料理教室）</title>
  </head>
  <body>
    <div class="title">
      <a class="out_btn" href="{% url 'YukaSite:logout' %}">ログアウト &#9661;</a>
      <h1 id="title-logo">YukaLabo 527</h1>

        {% if who.0.is_superuser %}
        <a class="btn" href="{% url 'YukaSite:admin_page' %}">管理ページ &#9661;</a>
        {% endif %}
        <a class="btn" href="{% url 'YukaSite:index' %}">トップページ &#9661;</a>
        <a class="btn" href="{% url 'YukaSite:mypage' %}">マイページ &#9661;</a>
        <a class="btn" href="{% url 'YukaSite:recipe_all' %}">レシピ一覧 &#9661;</a>
        <a class="btn" href="{% url 'YukaSite:post_all' %}">タイムライン &#9661;</a>
        <a class="btn" href="{% url 'YukaSite:news_all' %}">お知らせ &#9661;</a>
        <a class="btn" href="https://yukalabo527.hatenablog.com/">ホームページはこちら &#9661;</a>
    </div>
{% if who.0.is_superuser %}
<ul class="dropdwn">
        <li><u><a href="{% url 'YukaSite:admin_page' %}">料理テーマ・教室管理</a></u>
          <ul class="dropdwn_menu">
              <li><a href="{% url 'YukaSite:schedule_create' %}">テーマ　登録</a></li>
              <li><a href="{% url 'YukaSite:schedule_all' %}">テーマ　一覧</a></li>
              <li><a href="{% url 'YukaSite:lesson_create' %}">日程　　登録</a></li>
              <li><a href="{% url 'YukaSite:recipe_upload' %}">レシピ　登録</a></li>
          </ul>
      </li>
      <li><u><a href="{% url 'YukaSite:news_all_admin' %}">お知らせ</a></u>
          <ul class="dropdwn_menu">
              <li><a href="{% url 'YukaSite:news_create' %}">お知らせ　登録</a></li>
              <li><a href="{% url 'YukaSite:news_all_admin' %}">お知らせ　一覧</a></li>
          </ul>
      </li>
      <li><u><a href="{% url 'YukaSite:user_all' %}">ユーザー情報</a></u>
          <ul class="dropdwn_menu">
              <li><a href="{% url 'YukaSite:user_all' %}">ユーザー　一覧</a></li>
            </ul>
        </li>
</ul>
<script type="text/javascript">
$(function(){
    $('.dropdwn li').hover(function(){
        $("ul:not(:animated)", this).slideDown();
    }, function(){
        $("ul.dropdwn_menu",this).slideUp();
    });
});
</script>
<div class="disp-area">
  <div id="smallArea">
    <span>ユーザー情報</span>
  </div>
  <div class="status">
    <h1>{{ user.username }}</h1>
    <hr>
    <p>ラストログイン</p>
    <h4>{{ user.last_login }}</h4>
    <hr>
    <p>これまでの教室参加数</p>
    <h4>{{ data|length }}</h4>
    <!--{% for schedule in data %}
      <h4>{{ schedule.holdmonth }} {{ schedule.theme }} ,
    {% endfor %}</h4>
    <hr>-->
    <hr>
    <p>タイムライン投稿数</p>
    {% if post %}
      <h4>{{ post|length }}</h4>
    {% else %}
      <h4>{{user.username}}の投稿数は0です</h4>
    {% endif %}
    <hr>
  <a href="{% url 'YukaSite:user_all' %}" class="new_btn">ユーザー　一覧に戻る</a>
  </div>
</div>

<!--管理者以外の場合の表示-->
{% else %}
  <div class="contents">
    <h1>{{ user.username }}</h1>
    <hr>
    <p>ラストログイン</p>
    <h4>{{ user.last_login }}</h4>
    <hr>
    <p>これまでの教室参加数</p>
    <h4>{{ data|length }}</h4>
    <hr>
    <p>タイムライン投稿数</p>
    {% if post %}
      <h4>{{ post|length }}</h4>
    {% else %}
      <h4>{{user.username}}の投稿数は0です</h4>
    {% endif %}
    <hr>
{% endif %}
  <div class = "footer">
    <div class="footer-logo">YukaLabo 527</div>
    <div class="footer-list"><p>&copy; 2020 YukaLabo 527</p></div>
  </div>
</body>
</html>
