body {
  font-family: 'Times New Roman';
  height: auto;
  /*background: -webkit-linear-gradient(0deg, #ffffd1, #d1ffff, #ffd1d1);*/
}

.title{
  height: 270px;
  text-align:center;
  font-size: 50px;
  /*background-image: url("/media/images/2019_12/2019_12_1.jpg");*/
  background: linear-gradient(to bottom, transparent 0%, transparent 50%, #fff 100%), url("/media/images/2019_12/2019_12_1.jpg");
  background-size: cover;
  background-blend-mode:lighten;
}
.out_btn{
  float:right;
  font-size: 15px;
  background-color: #ffffff;
  padding: 0.5em 0.5em;
  color: #007700;
  border: solid 5px #007700;
  border-radius: 30px;
  transition: 1.0s;
  text-decoration: none;
  width: 7%;
}
.out_btn:hover {
  background: #5ce810;
  color: white;
}

.btn{
  font-size: 20px;
  background-color: #ffffff;
  padding: 0.5em 0.5em;
  color: #007700;
  border: solid 5px #007700;
  border-radius: 30px;
  transition: 1.0s;
  text-decoration: none;
  /*float: left;*/
  width: 30%;
}
.btn:hover {
  background: #5ce810;
  color: white;
}
.box {
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 1em 3em;
    color: #000000;
    background: #ffffff;/*背景色*/
    border-top: solid 6px #007700;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.32);/*影*/
}

#title-logo{
  padding: 5px 20px;
  color: #ffffff;
  /*background: -webkit-linear-gradient(0deg, #ffffd1, #d1ffff, #ffd1d1);*/
  webkit-background-clip: text;/*テキストでくり抜く*/
}

.slideshow {
width: 90%; /* スライドショー幅（PC）*/
list-style-type: none;
position: relative;
height: 500px;
}

.slideshow > li {
opacity: 0;
position: absolute;
transition: opacity 3s ease-in-out; /*フェード時間・イージング*/
}

.slideshow > li.showSlide{
opacity: 1;
}

.slideshow > li > img {
width : 100%;
height: auto;
}

/* スマートフォン用メディアクエリ */
@media screen and (max-width:600px){
.slideshow{
width: 100%; /* スライドショー幅（SP）*/
}
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 40px;
  padding: 20px;
}

.footer-logo{
  font-size: 32px;
  float: left;
}
.footer-list {
  float: right;
}

.post_contents{
  width: 450px;
  margin:2em 0;
  position: relative;
  padding: 0.25em 1em;
  border: solid 5px #007700;
  border-radius: 3px 0 3px 0;
}

.post_contents p{
  font-size: 20px;
}
.contents {
  height: auto;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.contents hr{
  border: solid 1px #007700;
}

/* admin_page */
.status{
  background-color: rgba(138, 249, 182, 0.28);
  height: auto;
  border: 5px solid;
  border-color: #007700;
  margin-left: 50px;
  margin-bottom: 30px;
  margin-right: 50px;
  padding: 50px;
}

.status_admin{
  background-color: rgba(138, 249, 182, 0.28);
  height: 500px;
  border: 5px solid;
  border-color: #007700;
  margin-left: 50px;
  margin-bottom: 30px;
  margin-right: 50px;
  padding: 50px;
}

/******  admin_page  ******/
.schedule{
  float: left;
  width: 30%;
  height: auto;
  /*background-color: rgb(37, 20, 126);*/
  border-right: solid;
  border-color: #007700;
}

.lessons{
  float: left;
  width: 40%;
  height: auto;
  border-right: solid;
  border-color: #007700;
}

.recipes{
  float: left;
  width: 25%;
  height: auto;
  /*border: solid;
  border-radius: 8px; /* 半径が8pxの角丸 */
  /*border-color: rgb(71, 188, 189);*/
}

.status_contents{
  width: 90%;
  margin: 0 auto;
  text-align: center;
  height: auto;
  padding: 20px;
  /*background-color: rgb(71, 188, 189);*/
}

#msg{
  text-align: center;
}

#zero {
  color: rgb(247, 9, 9);
}

/* タブエリアのdivへの適用 */
#smallArea {
  font-size: 16px;
  color: #007700;
  width: 200px;
  height: 30px;
  padding-top: 4px;

  /* borderに関する設定 */
  border: 5px solid; /* 線の太さと可視化 */
  border-bottom: transparent; /* 下辺を透明に */
  border-top-left-radius: 8px; /* 左上を角丸に */
  border-top-right-radius: 8px; /* 右上を角丸に */
  border-color: #007700;

  /* メイン表示エリアの線の太さだけ下にずらす */
  margin-bottom: -1px;
  margin-left: 50px;

  /* その他の設定 */
  position: relative;
  text-align: center;
}
#smallArea:hover {
  transition: 1.0s;
  text-decoration: none;
  background: rgba(138, 249, 182, 0.91);
  color: #FFF;
}

.dropdwn{
  height: 100px;
}

ul{
    max-width: 1200px;
    display: flex;
}
li{
    color: #007700;
    position: relative;
    padding: 5px;
    display: block;
    cursor: pointer;
}

.dropdwn>li{
    width: 1200px;
    margin: 1px;
    background-color: #ffffff;
    color: #007700;
    display: inline;
}
.dropdwn>li u:hover{
    background-color: #e6ffe9;
    color: #007700;
}

.dropdwn_menu{
    display: none;
    position: absolute;
    color: #007700;
    border: solid 5px #007700;
    text-decoration: none;
}

.dropdwn_menu li{
    width: 100%;
}

.dropdwn_menu li a{
    display: block;
    background-color: #ffffff;
    color: #007700;
}

li a:hover{
  background: #e6ffe9;
  color: white;
}

.edit_btn{
  background: #fff;
  border: 2px solid #5ce810;
  color: #5ce810;
  padding: 1em;
  border-radius:20px;
  display:block;
  text-decoration:none;
  font-size:.8em
}
.edit_btn:hover{
  background:#5ce810;
  border: 2px solid #5ce810;
  color: #fff;
  transition: .2s;
}
.dlt_btn{
  background: #fff;
  border: 2px solid #f40606;
  color: #f40606;
  padding: 1em;
  border-radius:20px;
  display:block;
  text-decoration:none;
  font-size:.8em
}
.dlt_btn:hover{
  background:#f40606;
  border: 2px solid #f40606;
  color: #fff;
  transition: .2s;
}

#admin_table{
  width: 80%;
}

/* 表の設定 */
table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 60%;
  box-shadow: 0 0 15px -6px #00000073;
}
table tr {
  background-color: #fff;
}
table tbody tr:hover{
  background-color: #fffae9;
}
table th,
table td {
  padding: .35em 1em;
  border-bottom: 1px solid #eee;
}
table thead th {
    font-size: .85em;
    padding: 1em;
}
table thead tr{
  background-color: #05a895;
  color:#fff;
}
table tbody th {
  text-align: left;
  font-size: .8em;
}
.txt{
   text-align: left;
   font-size: .75em;
}
 /* 新規登録ボタン */
 .new_btn{
  display: inline-block;
  background-color: #05a895;
  color: #FFF;
  width: 160px;
  padding: 0.8em;
  margin-top: 0.8em;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  -webkit-tap-highlight-color: transparent;
  transition: .2s ease-out;
}
.new_btn:hover{
	 cursor: pointer;
	 text-decoration: none;
	 transform: translateY(-4px);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 3px 10px 0 rgba(0,0,0,0.12), 0 4px 7px -2px rgba(0,0,0,0.2);
}
