#macの管理ファイル
.DS_Store

#pythonのキャッシュファイル
__pycache__/
*.pyc

#DB
db.sqlite3

#SECRET_KEY用
.env

/**/migrations/*
!/**/__init__.py

media/
recipe/

#/**/react/node_modules/
#package-lock.json
#package.json

#Pipfile
#Pipfile.lock

#*.txt
