{% extends 'base.html' %}
{% block content %}

{% if user.id  %}
<div class="contents">
  <h1>こんにちは，{{ user.username }}さん</h1>
{% endif %}
{% if data|length == 1 %}
  {% for schedule in data %}
  <div class="box">
    <p>今月のテーマ　{{ schedule.holdmonth }}</p>
    <h1>{{ schedule.theme }}</h1>
    {% if schedule.picture1 and schedule.picture2 and schedule.picture3 %}
    <ul id="slideshow" class="slideshow">
      <li class="showSlide"><img src={{schedule.picture1.url}}></li>
      <li><img src={{schedule.picture2.url}}></li>
      <li><img src={{schedule.picture3.url}}></li>
    </ul>
    {% endif %}
  </div>
  {% endfor %}
{% endif %}
  <h1>今月の教室日程一覧</h1>
    <table border="1">
        <thead><tr>
            <th>教室日程</th>
            <th>現在の参加人数</th>
        </tr></thead>
        <tbody>
        {% for schedule in data %}
          {% for lesson in schedule.lesson_month.all %}
            <tr><td>{{ lesson }}</td>
            <td>{{ lesson.members.all|length }}人</td></tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
</div>
  <script type="text/javascript">
  $(function(){
    var imgs = $("#slideshow > li");
    var imgLen = imgs.length;
    var count = 0;
    function changeImg(){
      //スライド切替のポイント（配列を順番に処理し終わったら配列の先頭に戻る計算式）
      count = (count + 1) % imgLen;
      imgs.removeClass("showSlide").eq(count).addClass("showSlide");
    }
    setInterval(changeImg, 5000); //切替の間隔（ミリ秒）
  })
  </script>
{% endblock %}
