{% extends 'base.html' %}
{% block content %}
<ul class="dropdwn">
        <li><u><a href="{% url 'MySite:admin_page' %}">料理テーマ・教室管理</a></u>
          <ul class="dropdwn_menu">
              <li><a href="{% url 'MySite:schedule_create' %}">テーマ　登録</a></li>
              <li><a href="{% url 'MySite:schedule_all' %}">テーマ　一覧</a></li>
              <li><a href="{% url 'MySite:lesson_create' %}">日程　　登録</a></li>
              <li><a href="{% url 'MySite:recipe_upload' %}">レシピ　登録</a></li>
          </ul>
      </li>
      <li><u><a href="{% url 'MySite:news_all_admin' %}">お知らせ</a></u>
          <ul class="dropdwn_menu">
              <li><a href="{% url 'MySite:news_create' %}">お知らせ　登録</a></li>
              <li><a href="{% url 'MySite:news_all_admin' %}">お知らせ　一覧</a></li>
          </ul>
      </li>
      <li><u><a href="{% url 'MySite:user_all' %}">ユーザー情報</a></u>
          <ul class="dropdwn_menu">
              <li><a href="{% url 'MySite:user_all' %}">ユーザー　一覧</a></li>
            </ul>
        </li>
</ul>
<script type="text/javascript">
$(function(){
    $('.dropdwn li').hover(function(){
        $("ul:not(:animated)", this).slideDown();
    }, function(){
        $("ul.dropdwn_menu",this).slideUp();
    });
});
</script>
<div class="disp-area">
  <div id="smallArea">
    <span>料理テーマ・教室管理</span>
  </div>
  <div class="status">
    <h1>削除確認画面</h1>
    <form method="post">
        {% csrf_token %}
        <table border="1">
          <thead>
            <tr>
              <th>開催年月</th>
              <th>テーマ</th>
              <th>参加日程</th>
              <th>参加者</th>
            </tr></thead>
            <tbody>
            <tr>
              <td>{{ lesson.holdmonth }}</td>
              <td>{{ lesson.holdmonth.theme }}</td>
              <td>{{ lesson.date }}</td>
              <td>{% for member in lesson.members.all %}
                {{ member }}
              {% endfor %}</td>
            </tr>
          </tbody>
        </table>
        <input type="submit" class="dlt_btn" value="削除する">
    </form>
    <a href="{% url 'MySite:admin_page' %}" class="new_btn">管理ページに戻る</a>
  </div>
</div>
{% endblock %}
