{% extends 'base.html' %}
{% block content %}
<div class="contents">
  <div class='post_contents'>
    <h1>{{ post.title }}</h1>
    <img src='{{ MEDIA_URL }}{{post.picture}}' width=400>
    <h3><a href="{% url 'MySite:user_detail' user_id=post.owner.id %}">{{ post.owner }}</a></h3><hr>
    <h3>{{ post.content | linebreaksbr  }}</h3><hr>
    <p>{{ post.pub_date }}</p><hr>

  <form action="" method="POST">
        <p><label for="com">コメント</label></p>
        {% csrf_token %}
        <textarea name="text" id="com" cols="30" rows="10"></textarea>
        <button type="submit" class="new_btn">コメント投稿</button>
    </form>

    {% for comment in post.comments.all %}<!-- 記事に対するコメントを全件取得 -->
        <p>{{ comment.text }}<br><small>{{ comment.created_at }}</small></p>
    {% empty %}
    <p>コメントはありません</p>
    {% endfor %}
  </div>
  <a href="{% url 'MySite:post_all' %}" class="new_btn">投稿一覧ページに戻る</a>
</div>
{% endblock %}
