{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'MySite/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <title>FirstDjango</title>
  </head>
  <body>
    <div class="title">
      <a class="out_btn" href="{% url 'MySite:logout' %}">ログアウト &#9661;</a>
      <h1 id="title-logo">FirstDjango</h1>

        {% if user.is_superuser %}
        <a class="btn" href="{% url 'MySite:admin_page' %}">管理ページ &#9661;</a>
        {% endif %}
        <a class="btn" href="{% url 'MySite:index' %}">トップページ &#9661;</a>
        <a class="btn" href="{% url 'MySite:mypage' %}">マイページ &#9661;</a>
        <a class="btn" href="{% url 'MySite:recipe_all' %}">レシピ一覧 &#9661;</a>
        <a class="btn" href="{% url 'MySite:post_all' %}">タイムライン &#9661;</a>
        <a class="btn" href="{% url 'MySite:news_all' %}">お知らせ &#9661;</a>
    </div>
    {% block content %}
    {% endblock %}
    <div class = "footer">
      <div class="footer-logo">FirstDjango</div>
      <div class="footer-list"><p>&copy; 2021 kachuno</p></div>
    </div>
  </body>
</html>
